/* css styles */
/* Nur die Kategorie MCA fett machen */
.category[data-category="TWF0aGVtYXRpaw=="] {
  background-color: #b3c8d3; /* Deine Wunschfarbe */
  padding: 2px 8px;         /* Ein bisschen Platz im Kasten */
  border-radius: 4px;       /* Leicht abgerundete Ecken */
  color: #000;              /* Schwarze Schrift für gute Lesbarkeit */
  display: inline-block;
}

.category[data-category="QmlvbG9naWU="] {
  background-color: #b3c8d3;
  padding: 2px 8px;
  border-radius: 4px;
  color: #000;
  display: inline-block;
}